@page "/heroes-statistics/{id}"
@using Unmatched.Dtos
@using Unmatched.Services.Statistics
@inject IHeroStatisticsService HeroStatisticsService

<h3 align="center">@Hero.HeroName</h3>
<img src="@imageSource" />
<h4> Total Matches: @Hero.TotalMatches (@Hero.TotalWins / @Hero.TotalLooses) K\D : @Hero.Kd</h4>
<DuelMatches matchLogEntries="matchLogEntries"></DuelMatches>

@code {
    [Parameter]
    public string id { get; set; }
    
    private IEnumerable<MatchLogDto> matchLogEntries;

    public HeroStatisticsDto Hero { get; set; } = new ();

    private string? imageSource;
    
    protected override async Task OnInitializedAsync()
    {
        var heroId = Guid.Parse(id);
        Hero = await HeroStatisticsService.GetHeroStatisticsAsync(heroId);
        matchLogEntries = (await HeroStatisticsService.GetHeroMatchesAsync(heroId)).OrderByDescending(x => x.Date).ToArray();
        foreach (var matchLogEntry in matchLogEntries)
        {
            matchLogEntry.Fighters = matchLogEntry.Fighters.OrderByDescending(x => x.HeroId == heroId);
        }
        imageSource = $"/{Hero.HeroName}.png";
    }
}