@page "/"
@using Unmatched.Dtos
@using Unmatched.Services
@using Unmatched.Constants
@inject IUnmatchedService UnmatchedService

<PageTitle>Global rating</PageTitle>

<h1>Global rating</h1>

@if (ratingHeroes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Place</th>
            <th>Hero</th>
            <th>Points</th>
            <th>Matches</th>
            <th style="background-color: @Colors.WinnerColor">Wins</th>
            <th style="background-color: @Colors.LooserColor">Looses</th>
            <th>K/D</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ratingHero in ratingHeroes)
        {
            <tr>
                <td >@ratingHero.Place</td>
                <td >@ratingHero.HeroName</td>
                <td >@ratingHero.Points</td>
                <td >@ratingHero.TotalMatches</td>
                <td >@ratingHero.TotalWins</td>
                <td >@ratingHero.TotalLooses</td>
                <td >@ratingHero.Kd</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private IEnumerable<GlobalRatingHeroDto> ratingHeroes;

    protected override async Task OnInitializedAsync()
    {
        ratingHeroes = (await UnmatchedService.GetGlobalRatingAsync()).OrderDescending().ToArray();

        var place = 1;
        foreach (var ratingHero in ratingHeroes)
        {
            ratingHero.Place = place;
            place++;
        }
    }

    private string GetWinLooseColor(bool isWinner)
    {
        return isWinner
            ? Colors.WinnerColor
            : Colors.LooserColor;
    }

}