@page "/players-statistics/{id}"
@using Unmatched.Services
@using Unmatched.Dtos
@inject IUnmatchedService UnmatchedService

<h3 align="center">@Player.PlayerName</h3>
<img src="@imageSource" />
<h4>Total Matches: @Player.TotalMatches</h4>
<h4>Total Wins: @Player.TotalWins</h4>
<h4>Total Looses: @Player.TotalLooses</h4>
<h4> Matches: </h4>
<DuelMatches matchLogEntries="matchLogEntries"></DuelMatches>

@code {
    [Parameter]
    public string id { get; set; }
    
    private IEnumerable<MatchLogDto> matchLogEntries;

    public PlayerStatisticsDto Player { get; set; } = new ();

    private string? imageSource;
    
    protected override async Task OnInitializedAsync()
    {
        var playerId = Guid.Parse(id);
        Player = await UnmatchedService.GetPlayerStatisticsAsync(playerId);
        matchLogEntries = (await UnmatchedService.GetPlayerMatchesAsync(playerId)).OrderByDescending(x => x.Date).ToArray();
        foreach (var matchLogEntry in matchLogEntries)
        {
            matchLogEntry.Fighters = matchLogEntry.Fighters.OrderByDescending(x => x.PlayerId == playerId);
        }
        imageSource = $"/{Player.PlayerName}.png";
    }
}