@page "/match/{id}"
@using Unmatched.Dtos
@using Unmatched.Services
@using Unmatched.Constants
@using Unmatched.Data.Enums
@using Unmatched.Extensions
@inject IMatchService MatchService
@inject IHeroService HeroService
@inject ITournamentService TournamentService
@inject IPlayerService PlayerService
@inject IMapService MapService
@inject NavigationManager NavManager

<div class="page-content">
    <h1 class="page-title"></h1>

    <div class="row">
        <div class="column center">
            <FighterInfo @ref="FighterComponent" Title="Fighter" Players="_players" Heroes="_heroes" Fighter="Fighter"></FighterInfo>
        </div>
        <div class="column center">
            <FighterInfo @ref="OpponentComponent" Title="Opponent" Players="_players" Heroes="_heroes" Fighter="Opponent"></FighterInfo>
        </div>
    </div>

    <div class="row">
        <div class="triple-column"></div>
        <div class="triple-column center">
            <EditForm Model=@Match>
                <div>
                    <label for="Map">Map:</label>
                    <div style=" display: flex; flex-direction: row;">
                        <InputSelect @bind-Value=Match.MapId name="Map" id="maps" class="form-select">
                            @foreach (var map in _maps)
                            {
                                <option value="@map.Id"> @map.Name</option>
                            }
                        </InputSelect >
                        <button style="border-width: 0" @onclick="RandomizeMap">🎲</button>
                    </div>
                </div>
                <div>
                    <label for="Tournament">Tournament:</label>
                    <InputSelect @bind-Value=Match.TournamentId name="Tournament" id="tournaments" class="form-select">
                        @foreach (var tournament in _tournaments)
                        {
                            <option value="@tournament.Id"> @tournament.Name</option>
                        }
                    </InputSelect >
                </div>
                <div>
                    <label for="Date">Date:</label>
                    <InputDate @bind-Value=Match.Date name="Date" class="form-control"/>
                </div>
                <div>
                    <label for="Comment">Comment:</label>
                    <InputText @bind-Value=Match.Comment name="Comment" class="form-control"/>
                </div>
                <div>
                    <label for="Stage">Stage:</label>
                    <InputSelect @bind-Value=Match.Stage name="Stage" id="stages" class="form-select">
                        @foreach (var stage in _stages)
                        {
                            <option value="@stage.Item1"> @stage.Item2</option>
                        }
                    </InputSelect >
                </div>
                <p></p>
                <button class="btn btn-primary" @onclick="AddNewMatch">Add match</button>
                <button class="btn btn-secondary" @onclick="Randomize">Randomize</button>
            </EditForm>
        </div>
        <div class="triple-column"></div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    
    private List<PlayerDto> _players = new();

    private List<HeroDto> _heroes = new();

    private List<MapDto> _maps = new();

    private List<TournamentDto> _tournaments = new();
    private List<(Stage?, string)> _stages = new();

    public FighterInfo FighterComponent;

    public FighterInfo OpponentComponent;

    MatchDto Match = new()
        {
            Fighters = new List<FighterDto>()
                {
                    new(),
                    new()
                },
            Date = DateTime.UtcNow
        };

    FighterDto Fighter = new();
    FighterDto Opponent = new();
    
    [Inject] protected BlazorBootstrap.PreloadService PreloadService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PreloadService.Show();
            
            _players = (await PlayerService.GetAsync()).ToList();
            _heroes = (await HeroService.GetAsync()).ToList();
            _maps = (await MapService.GetAsync()).ToList();
            _tournaments = (await TournamentService.GetAsync()).ToList();
            
            _stages = new List<(Stage?, string)>
                {
                    (null, ""),
                    (Stage.EighthFinals, Stage.EighthFinals.GetStageName()),
                    (Stage.QuarterFinals, Stage.QuarterFinals.GetStageName()),
                    (Stage.SemiFinals, Stage.SemiFinals.GetStageName()),
                    (Stage.ThirdPlaceDecider, Stage.ThirdPlaceDecider.GetStageName()),
                    (Stage.GrandFinals, Stage.GrandFinals.GetStageName())
                };

            var defaultTournament = _tournaments.FirstOrDefault(x => x.Name == TournamentNames.SilverhandTournament);
            if (defaultTournament != null)
            {
                Match.TournamentId = defaultTournament.Id;
            }
            
            var isValidId = Guid.TryParse(Id, out var id);
            if (!isValidId)
            {
                return;
            }
            if (id != Guid.Empty)
            {
                var match = await MatchService.GetAsync(id);
                match.Date = DateTime.Now;
                Fighter = match.Fighters.First();
                SetFighterInfo(Fighter);
                Opponent = match.Fighters.Last();
                SetFighterInfo(Opponent);
                Match = match;
            }
        }
        finally
        {
            PreloadService.Hide();
        }
    }
    
    private void SetFighterInfo(FighterDto fighter)
    {
        fighter.HpLeft = fighter.Hero.Hp;
        fighter.HeroId = fighter.Hero.Id;
        fighter.SidekickName = fighter.Hero.Sidekicks.FirstOrDefault()?.Name;
        fighter.SidekickHpLeft = fighter.Hero.Sidekicks.Sum(s => s.Hp * s.Count);
        fighter.CardsLeft = fighter.Hero.DeckSize;
    }

    private async Task AddNewMatch()
    {
        try
        {
            PreloadService.Show();
            
            var match = Match;
            var fighter = FighterComponent.BuildDto();
            var opponent = OpponentComponent.BuildDto();

            var isValidId = Guid.TryParse(Id, out var id);
            if (!isValidId)
            {
                return;
            }
        
            if (id == Guid.Empty)
            {
                await MatchService.AddAsync(match, fighter, opponent);
            }
            else
            {
                await MatchService.UpdateAsync(match, fighter, opponent);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        finally
        {
            PreloadService.Hide();
        }
        
        NavManager.NavigateTo(Urls.DuelMatchLog);
    }

    private async Task Randomize()
    {
        RandomizeMap();
        
        RandomizeFighter(FighterComponent);
        FighterComponent.Fighter.Turn = 1;
        
        RandomizeFighter(OpponentComponent, FighterComponent);
        OpponentComponent.Fighter.Turn = 2;

    }
    
    private void RandomizeMap()
    {
        Match.MapId = _maps.GetRandomItem().Id;
    }

    private void RandomizeFighter(FighterInfo targetFighterComponent, params FighterInfo[] exceptFighters)
    {
        var exceptPlayers = exceptFighters.Select(x => x.Fighter.PlayerId).ToArray();
        var availablePlayers = _players.Where(x => x.Name is PlayerNames.Andrii or PlayerNames.Oleksandr).Select(x => x.Id).Except(exceptPlayers).ToList();
        
        var randomPlayerId = availablePlayers.GetRandomItem();
        var randomPlayer = _players.First(x => x.Id == randomPlayerId);
        
        targetFighterComponent.Fighter.PlayerId = randomPlayer.Id;
        
        var exceptHeroIds = exceptFighters.Select(x => x.Fighter.HeroId).ToArray();
        targetFighterComponent.RandomizeHero(exceptHeroIds);
        
        targetFighterComponent.Fighter.ItemsUsed = 0;
    }
}