@page "/match/{id}"
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components
@using Unmatched.Constants
@using Unmatched.Dtos
@using Unmatched.Dtos.Match
@using Unmatched.Dtos.Player
@using Unmatched.Enums
@using Unmatched.Extensions
@using Unmatched.Services
@using Unmatched.Services.Contracts
nmatched.Services.Contracts
@inject IMatchService MatchService
@inject IHeroService HeroService
@inject ITournamentService TournamentService
@inject IPlayerService PlayerService
@inject IMapService MapService
@inject IFavoriteService FavoriteService
@inject NavigationManager NavManager
@inject NotificationService NotificationService

<div style="height: 100%; background: linear-gradient(90deg, @(_match.Fighters.FirstOrDefault()?.Hero?.Color ?? "white") 0%, @(_match.Fighters.LastOrDefault()?.Hero?.Color ?? "white") 100%);">
    <Modal @ref="matchSavedPopup" Title="Match successfully saved!">
        <BodyTemplate>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Secondary" @onclick="OnPopupCloseClick">Close</Button>
        </FooterTemplate>
    </Modal>

    <div class="row">
        <div class="triple-column center" >
            <FighterInfo Title="Fighter" Players="_players" Heroes="_heroes" Fighter="@_match.Fighters.First()"></FighterInfo>
        </div>
        <div class="triple-column center">
            <img src="Vs.png"/>
        </div>
        <div class="triple-column center">
            <FighterInfo Title="Opponent" Players="_players" Heroes="_heroes" Fighter="@_match.Fighters.Last()"></FighterInfo>
        </div>
    </div>

    <div class="row">
        <div class="column end">
            <EditForm Model=@_match>
                <div>
                    <label for="Map">Map:</label>
                    <div style=" display: flex; flex-direction: row;">
                        <InputSelect Value="@_match.Map.Id" ValueExpression="@(() => _match.Map.Id)" name="Map" id="maps" class="form-select transparent rounded-form" ValueChanged="@((Guid value) => SetMapInfo(value))">
                            @foreach (var map in _maps)
                            {
                                <option value="@map.Id"> @map.Name</option>
                            }
                        </InputSelect >
                        <button style="border-width: 0; background: transparent;" @onclick="RandomizeMap">🎲</button>
                    </div>
                </div>
                <div>
                    <label for="Tournament">Tournament:</label>
                    <InputSelect @bind-Value=_match.TournamentId name="Tournament" id="tournaments" class="form-select transparent rounded-form">
                        @foreach (var tournament in _tournaments)
                        {
                            <option value="@tournament.Id"> @tournament.Name</option>
                        }
                    </InputSelect >
                </div>
                <div>
                    <label for="Date">Date:</label>
                    <InputDate @bind-Value=_match.Date name="Date" class="form-control transparent rounded-form"/>
                </div>
                <div>
                    <label for="Comment">Comment:</label>
                    <InputText @bind-Value=_match.Comment name="Comment" class="form-control transparent rounded-form"/>
                </div>
                <div>
                    <label for="Stage">Stage:</label>
                    <InputSelect @bind-Value=_match.Stage name="Stage" id="stages" class="form-select transparent rounded-form">
                        @foreach (var stage in _stages)
                        {
                            <option value="@stage.Item1"> @stage.Item2</option>
                        }
                    </InputSelect >
                </div>
                <p></p>
                <button class="btn btn-primary rounded-form" @onclick="OnAddNewMatchClickAsync">Add match</button>
                <button class="btn btn-secondary rounded-form" @onclick="OnRandomizeMatchClick">Randomize</button>
            </EditForm>
        </div>
        <div class="column start">
            <img style="border: 4px solid black;" src="@_match.Map?.ImageUrl"/>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    private List<UiPlayerDto> _players = new();
    private List<UiHeroDto> _heroes = new();
    private List<MapDto> _maps = new();
    private List<TournamentDto> _tournaments = new();
    private List<(Stage?, string)> _stages = new();

    UiMatchDto _match = new()
        {
            Fighters = new List<UiFighterDto>()
                {
                    new(),
                    new()
                },
            Map = new()
                {
                    Name = "UnknownMap"
                },
            Date = DateTime.UtcNow
        };

    [Inject] protected PreloadService PreloadService { get; set; }
    
    private Modal matchSavedPopup = default!;

    protected override async Task OnInitializedAsync()
    {
        NotificationService.RefreshRequested += RerenderComponent;
        try
        {
            PreloadService.Show();
            
            _players = (await PlayerService.GetAsync()).ToList();
            _heroes = (await HeroService.GetAsync()).OrderBy(x => x.Name).ToList();
            _maps = (await MapService.GetAsync()).OrderBy(x => x.Name).ToList();
            _tournaments = (await TournamentService.GetAsync()).ToList();
            _stages = new List<(Stage?, string)>
                {
                    (null, ""),
                    (Stage.EighthFinals, Stage.EighthFinals.GetStageName()),
                    (Stage.QuarterFinals, Stage.QuarterFinals.GetStageName()),
                    (Stage.SemiFinals, Stage.SemiFinals.GetStageName()),
                    (Stage.ThirdPlaceDecider, Stage.ThirdPlaceDecider.GetStageName()),
                    (Stage.GrandFinals, Stage.GrandFinals.GetStageName())
                };

            var defaultTournament = _tournaments.FirstOrDefault(x => x.Name == TournamentNames.GoldenHalatLeague);
            if (defaultTournament != null)
            {
                _match.TournamentId = defaultTournament.Id;
            }

            UiMatchDto match;
            if (Guid.TryParse(Id, out var id)
             && id != Guid.Empty)
            {
                match = await MatchService.GetAsync(id);
                match.Date = DateTime.UtcNow;
                match.Fighters.First().SetDefaultData();
                match.Fighters.Last().SetDefaultData();

            }
            else
            {
                match = await GenerateDefaultMatch();
            }
            
            _match = match;
        }
        finally
        {
            PreloadService.Hide();
        }
    }

    private async Task<UiMatchDto> GenerateDefaultMatch()
    {
        var match = new UiMatchDto();
        var andy = _players.FirstOrDefault(x => x.Name == PlayerNames.Andrii);
        var olex = _players.FirstOrDefault(x => x.Name == PlayerNames.Oleksandr);

        if (andy is not null
         && olex is not null)
        {
            var random = new Random();
            var andyTurn = random.Next(1, 3);
            var olexTurn = 3 - andyTurn; // in two player game there are Turn 1 and Turn 2. Sum is 3. So <seconds player turn> = 3 - <first player turn>
            var favouriteAndyHero = await FavoriteService.GetFavouriteHeroAsync(andy.Id);
            var favouriteOlexHero = await FavoriteService.GetFavouriteHeroAsync(olex.Id);
            var defaultFighters = new List<UiFighterDto>()
                {
                    new()
                        {
                            Player = andy,
                            PlayerId = andy.Id,
                            Turn = andyTurn,
                            Hero = favouriteAndyHero
                        },
                    new()
                        {
                            Player = olex,
                            PlayerId = olex.Id,
                            Turn = olexTurn,
                            Hero = favouriteOlexHero
                        }
                };
            match.Fighters = defaultFighters.OrderBy(x => x.Turn).ToArray();
            match.Fighters.First().SetDefaultData();
            match.Fighters.Last().SetDefaultData();
        }

        match.Date = DateTime.UtcNow;
        match.TournamentId = _tournaments.FirstOrDefault(x => x.Name == TournamentNames.GoldenHalatLeague)?.Id;
        var map = _maps.FirstOrDefault(x => x.Name == MapNames.Castle);
        match.Map = map;
        return match;
    }

    private async Task OnAddNewMatchClickAsync()
    {
        try
        {
            PreloadService.Show();
            
            var match = _match;

            var isValidId = Guid.TryParse(Id, out var id);
            if (!isValidId)
            {
                return;
            }

            SaveMatchResultDto result; 
            if (id == Guid.Empty)
            {
                result = await MatchService.AddAsync(match);

            }
            else
            {
                result = await MatchService.UpdateAsync(match);
            }
            
            var parameters = new Dictionary<string, object>
                {
                    {
                        "Result", result
                    }
                };
            await matchSavedPopup.ShowAsync<MatchSavedPopup>(title: "Match successfully saved!", parameters: parameters);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        finally
        {
            PreloadService.Hide();
        }
    }

    private void OnRandomizeMatchClick()
    {
        RandomizeMap();
        RandomizeFighter();
        RandomizeOpponent();
    }
    
    private void RandomizeMap()
    {
        var mapId = _maps.GetRandomItem().Id;
        SetMapInfo(mapId);
    }
    
    private void RandomizeFighter()
    {
        NotificationService.CallRandomizeFighter(_match.Fighters.First());
        _match.Fighters.First().Turn = 1;
    }
    
    private void RandomizeOpponent()
    {
        NotificationService.CallRandomizeFighter(_match.Fighters.Last(), _match.Fighters.First());
        _match.Fighters.Last().Turn = 2;
    }
    
    private async Task OnPopupCloseClick()
    {
        await matchSavedPopup.HideAsync();
        NavManager.NavigateTo(Urls.DuelMatchLog);
    }
    
    private void SetMapInfo(Guid mapId)
    {
        var map = _maps.First(h => h.Id == mapId);
        _match.Map = map;
    }
    
    private void RerenderComponent()
    {
        StateHasChanged();
    }
}

<style>
    label {
        opacity: 0.9 !important;
        font-size: 20px;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    
    .transparent {
        opacity: 0.9 !important;
    }
    
    .rounded-form {
        border-radius: 16px;
    }
</style>