<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Unmatched</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandStatisticsSubNav = !expandStatisticsSubNav">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Statistics
            </NavLink>
            @if (expandStatisticsSubNav)
            {
                <NavLink class="nav-link" href="@Urls.HeroesStatistics">
                    <span class="oi oi-shield" aria-hidden="false"></span> Heroes
                </NavLink>
                <NavLink class="nav-link" href="@Urls.PlayersStatistics">
                    <span class="oi oi-people" aria-hidden="true"></span> Players
                </NavLink>
                <NavLink class="nav-link" href="@Urls.MapsStatistics">
                    <span class="oi oi-map" aria-hidden="true"></span> Maps
                </NavLink>
                <NavLink class="nav-link" href="@Urls.MinionsStatistics">
                    <span class="oi oi-bug" aria-hidden="true"></span> Minions
                </NavLink>
                <NavLink class="nav-link" href="@Urls.VillainsStatistics">
                    <span class="oi oi-eye" aria-hidden="true"></span> Villains
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Urls.AddMatch">
                <span class="oi oi-plus" aria-hidden="true"></span> Add match
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Urls.DuelMatchLog">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Duel Match log
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Urls.Titles">
                <span class="oi oi-badge" aria-hidden="true"></span> Titles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Urls.Tournaments">
                <span class="oi oi-flag" aria-hidden="true"></span> Tournaments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Urls.Initialize">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Initialize default data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    
    private bool expandStatisticsSubNav;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu
        ? "collapse"
        : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}