@page "/minions-statistics"
@using Microsoft.AspNetCore.Components
@using Unmatched.Dtos
@using Unmatched.Services.Statistics
@using Unmatched.Constants
@inject NavigationManager NavManager
@inject IMinionStatisticsService MinionStatisticsService

<div class="page-content">
    <h1 class="page-title">Minions Statistics</h1>
    <SfGrid @ref="_grid" DataSource="@_minions" AllowPaging="true" AllowSorting="true">
        <GridPageSettings PageSize="40"></GridPageSettings>
        <GridEvents OnDataBound="OnDataBoundHandler" OnRecordClick="RecordClickHandler" TValue="MinionStatisticsDto"></GridEvents>
        <GridSortSettings>
            <GridSortColumns>
                <GridSortColumn Field="@nameof(MinionStatisticsDto.Points)" Direction="SortDirection.Descending"></GridSortColumn>
            </GridSortColumns>
        </GridSortSettings>
        <GridColumns>
            <GridColumn Field=@nameof(MinionStatisticsDto.Place) Width="25" TextAlign="TextAlign.Center"></GridColumn>
            <GridColumn Width="20">
                <Template>
                    @{
                        var minion = context as MinionStatisticsDto;
                        <div class="image">
                            <img src="@minion?.Minion.ImageUrl" alt="@minion.MinionId" width="100%" height="auto"/>
                        </div>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="Minion.Name" HeaderText="Minion" Width="120"></GridColumn>
            <GridColumn Width="20">
                <Template>
                    @{
                        var minion = context as MinionStatisticsDto;
                        <div class="image">
                            <img src="@minion.Minion.MeleeRangeImageUrl" alt="@minion.MinionId" width="100%" height="auto"/>
                        </div>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(MinionStatisticsDto.Points) HeaderText="Points" Width="120"></GridColumn>
            <GridColumn Field=@nameof(MinionStatisticsDto.TotalMatches) HeaderText="Matches" Width="80"></GridColumn>
            <GridColumn Field=@nameof(MinionStatisticsDto.TotalWins) HeaderText="Wins" Width="80"></GridColumn>
            <GridColumn Field=@nameof(MinionStatisticsDto.TotalLooses) HeaderText="Looses" Width="80"></GridColumn>
            <GridColumn Field=@nameof(MinionStatisticsDto.Kd) HeaderText="K/D" Width="50"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {
    private List<MinionStatisticsDto> _minions = new();
    SfGrid<MinionStatisticsDto> _grid;
    
    [Inject] protected BlazorBootstrap.PreloadService PreloadService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PreloadService.Show();
            _minions = (await MinionStatisticsService.GetMinionsStatisticsAsync()).OrderBy(x => x.Minion.Name).ToList();
        }
        finally
        {
            PreloadService.Hide();
        }
    }

    private void RecordClickHandler(RecordClickEventArgs<MinionStatisticsDto> args)
    {
        var minionId = args.RowData.MinionId;
        var url = $"{Urls.MinionsStatistics}/{minionId}";
        NavManager.NavigateTo(url);
    }

    private void OnDataBoundHandler()
    {
        SetPlaces();
    }

    private void SetPlaces()
    {
        if (_grid.CurrentViewData is null)
        {
            return;
        }
        
        var dataSource = _grid.CurrentViewData;
        var place = 1;
        foreach (var data in dataSource)
        {
            if (data is MinionStatisticsDto hero)
            {
                hero.Place = place;
                place++;
            }
        }
    }
}